body {
  background: radial-gradient(circle at center, #000 60%, #020617 100%);
  color: cyan;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Canvas zabere celé pozadí */
#starCanvas {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  margin-bottom: 4px;
  font-weight: 900;
  color: #00ffff;
  text-shadow: 0 0 2px #00baba, 0 0 2px #008888;
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0%, 100% { text-shadow: 0 0 2px #00d0d0, 0 0 6px #00a0a0; }
  50% { text-shadow: 0 0 4px #00ffff, 0 0 10px #00cccc; }
}



.slogan {
  font-size: 20px;
  margin: 0px 0 14px;
  font-style: italic;
  font-weight: 900;
  color: #00ffff;
  text-shadow: 0 0 6px #000;
}

button {
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  padding: 14px 28px;
  border: 2px solid cyan;
  background: rgba(0, 255, 255, 0.184);
  color: cyan;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.25s ease;
  text-shadow: 0 0 1px cyan;
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.3) inset;
}

button:hover {
  background: rgba(0, 255, 255, 0.616); /* při hoveru silnější cyan */
  color: rgb(9, 219, 234);
  text-shadow: none;
}
